.header {
  padding-block: var(--header-space-fluid);
  box-shadow: var(--shadow);
  max-width: 37.5rem;
  margin-inline: auto;
  width: 100%;

  /* padding-inline: clamp(1rem, 5vw, 2rem); */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  color: var(--clr-primary);
}

.app-title {
  margin: 0;
  font-family: var(--ff-header);
  font-weight: 700;
}
