/* =========================
   1. CSS Reset + Box Sizing
   ========================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   2. Root variables
   ========================= */
:root {
  --clr-accent-2: hsl(0, 22%, 64%);
  --clr-text: hsl(19, 16%, 20%);
  --clr-accent: hsl(44, 52%, 55%);

  --clr-background: hsl(40, 39%, 95%);
  --clr-primary: hsl(166, 40%, 17%);

  --clr-border: hsl(216, 12%, 84%);

  --ff-header: "Cormorant Garamond", serif;
  --ff-body: "Inter", sans-serif;

  --shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);

  --input-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);

  --max-container-width: 37.5rem; /* 600px */

  --space-fluid: clamp(1.5rem, 3vw, 3rem);
  --header-space-fluid: clamp(1.5rem, 2vw, 2rem);
}

/* =========================
   3. Fluid Fonts
   ========================= */

html {
  font-size: clamp(14px, 1.5vw, 18px);
}

body {
  font-family: var(--ff-body);
  color: var(--clr-text);
  line-height: 1.6;
  background-color: var(--clr-background);
}

/* =========================
   4. Container
   ========================= */
.container {
  width: 95%;
  max-width: var(--max-container-width);
  margin-inline: auto;
  padding-inline: clamp(1rem, 5vw, 2rem);
}

/* =========================
   5. Headings
   ========================= */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-dark);
  margin-block-end: 0.5em;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}

/* =========================
   6. Paragraphs and Links
   ========================= */
p {
  margin-block-end: 1em;
}

a {
  color: var(--clr-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* =========================
   7. img
   ========================= */

img,
picture {
  height: auto;
  display: block;
  max-width: 100%;
  border-radius: 8px;
}

.grid {
  display: grid;
}

.centered-content-h {
  place-content: center;
}

.form-wrapper {
  padding-top: 2rem;
}

label {
  margin-right: 0.5rem;
}
/* 
.input {
  outline: none;
  border: 1px solid var(--clr-border);
  border-radius: 5px;
  padding: 0.5rem;
  font-family: inherit;
  color: inherit;
  font-size: clamp(0.9rem, 0.8rem + 0.5vw, 1.1rem);
  box-shadow: var(--input-shadow);
  margin-bottom: 1rem;
}

.form-btn {
  padding: 0.7rem 1.5rem;
  font-family: var(--ff-body);
  background: transparent;
  border: 1px solid var(--clr-accent);
  border-radius: 15px;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

.form-btn:hover {
  background-color: var(--clr-accent);
  color: var(--clr-background);
} */
