.main {
  padding-block: var(--space-fluid);
}

.form-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.form-container > input {
  width: minmax(150px, 400px);
  font-family: inherit;
  color: inherit;
  flex-grow: 1;
  font-size: clamp(0.9rem, 0.8rem + 0.5vw, 1.1rem);
  border: 1px solid var(--clr-border);
  border-radius: 6px;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.form-container > button {
  /* display: flex;
  gap: 0.2rem;
  align-items: center; */

  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #141413;
  color: #fafaf8;
  width: 150px;
  /* padding-inline: 1.25rem; */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;

  transition: background 0.3s ease;
}

.form-container > button::before {
  content: "+";
  margin-right: 5px;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #f0efeb;
  padding: 10px 28px;
  margin-top: 2rem;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #d17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #fafaf8;
  /* width: 150px; */
  padding: 10px 28px;
  cursor: pointer;
}
